*{
    font-family: 'Mulish', sans-serif;

}
header{
    
    padding: 20px 50px;
    max-width: 1440px;
   margin: 30px auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    width: 50px;
    padding: 25px 0px;
}
.logo h3{
    font-size: 2rem;
    padding: 0 10px;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}
.nav-list li{
    list-style: none;
    padding: 20px;
    font-size: 1.3rem;

}
.nav-list li a{
    text-decoration: none;
}
.orange{
    color: #FF5400;
}
.banner{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    padding: 200px 100px;
    border-radius: 16px;
}
.banner-content{
    text-align: center;
    color: #fff;
}
.content-tittle{
    font-size: 4rem;
    color: #fff;
}
.banner-input{
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: 200px;
    padding: 10px 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.input{
    padding: 10px 30px;
    margin: 10px;
    border: 8px;
}
#input-btn{
    background-color: #FF5400;
    color: #fff;
}
.popular{
    display: flex;
    margin: 20px;
    padding: 50px 100px;
}
.popular-content{
    text-align: left;
    padding:0px 20px;
}
.popular-tittle{
    font-size: 3rem;
}
.description{
    font-size: 1.3rem;
    color: rgba(19, 19, 24, 0.70);
}
.popular-img{
    padding: 80px 100px;
}
.popular-btn{
    padding:10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}
.destination-content{
    text-align: center;
}
.destination-tittle{
    font-size: 3rem;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.3rem;
}
.destination-container{
    padding: 50px ;
    row-gap: 10px;
}
.destination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 0px;
}

.d-text{
    position: relative;
    text-align: center;
    top: -200px;
    margin: 0;
    font-size: 2rem;
    color: #fff;
}
.packages{
    margin: 50px 50px;
}
.package-content{
    text-align: center;
}
.package{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 50px;
    padding: 50px 50px;
}
.p-tittle{
    font-size: 3rem;

}
.p-para{
    font-size: 1.5rem;
    color: #5A5A5D;
}
.package-card{
    border: 10px solid skyblue;
    padding: 50px 50px;
    background-image: url(/Images/Group\ 39.png);
    background-position: center;
    color: black;
    box-shadow: 5px 5px 20px rgb(130, 126, 126);
}
.package-price{
    padding: 30px 30px;
    background: #edecec;
    border-radius: 16px;
}
.country{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.package-btn{
    padding: 10px 40px;
    margin: 10px;
    background-color: skyblue;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 16px;
}
.choose{
    margin: 50px 100px;
}
.choose-content{
    text-align: center;
}
.choose-tittle{
    font-size: 3rem;
}
.choose-description{
    font-size: 1.3rem;
    color: #5A5A5D;
}
.choose-container{
    display: flex;
    justify-content: space-around;
}
.container{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);  
    padding: 30px 70px;
    margin: 20px;
}
#container-2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
#container-3{
    max-width: 550px;
    margin-left: 370px;
}
.choose-img{
    height: 70px;
    width: 70px;
}
.newsletter{
     margin: 50px;
}

.news{
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    max-height: 500px;
    margin: 70px 20px ;
}
.news-form{
   border: 3px solid #FF5400;
   border-radius: 16px;
   padding: 10px 50px;
   max-height: 400px;
   width: 40%;
   margin-left: 50px;
}
.news-img{
    margin:  0px 30px;
    width: 60%;
}
.news-tittle{
    font-size: 2.5rem;
}
.news-para{
    font-size: 1.5rem;
    color: #5A5A5D;
}

.form{
    display: flex;
    flex-direction: column;
}
.form-input{
    padding: 10px 50px;
    margin: 10px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    font-size: 1.3rem;
    border: none;
}
.discount{
    position: relative;
    left: 390px;
    top: -160px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    text-align: center;
    padding: 20px 40px;
    max-width: 200px;
    margin-bottom: 0px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
}
.foot{
    text-align: center;
    padding: 50px;
}
.foot-logo{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.foot-tittle{
    font-size: 2rem;
}
.foot-para{
    font-size: 1.2rem;
    color: #5A5A5D;
}
.logo{
    width: 80px;
    height: 100px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 80px;
}
@media  screen and(max-width:600px) {
    .banner-input{
        flex-direction: column;
    }
    
}